// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-family: 'Raleway Dots', cursive;
  color: #f60;
}

.subtitle {
  margin: 0;
}
